<br/>


<div class="p-5 mb-4 bg-dark rounded-3 text-bg-dark">
  

  <h1> <%= @user%> Welcome to my toy app! </h1> <br/>

  <p class="lead"><em>
    Mary Grace D. Verzon | Computer Science
  </p> 

  <hr class="my-4">
  
  <div class="d-flex flex-row">
  </div>

</div>